html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#cesiumContainer {
  width: 100%;
  height: 100%;
}

#controlUI {
  position: absolute;
  left: 20px;
  top: 80px;
  z-index: 999;
  width: 340px;
  padding: 12px 14px;
  border-radius: 12px;
  background: rgba(66, 63, 63, 0.55);
  color: white;
  font-family: Arial, sans-serif;
  backdrop-filter: blur(8px);
}

.uiRow {
  margin-bottom: 12px;
}

.uiTitle {
  font-size: 14px;
  font-weight: 600;
  opacity: 0.9;
  margin-bottom: 6px;
}

.uiBtns {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.btn {
  padding: 6px 10px;
  border: 1px solid rgba(255,255,255,0.25);
  background: rgba(255,255,255,0.08);
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-size: 13px;
  transition: 0.2s;
}

.btn:hover {
  background: rgba(255,255,255,0.18);
}

.btn.active {
  background: rgba(255, 215, 100, 0.25);
  border-color: rgba(255, 215, 100, 0.7);
}

.switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: relative;
  cursor: pointer;
  inset: 0;
  border-radius: 20px;
  background-color: #15e055;
  transition: background-color 0.3s;
  /* border: 1ox solid rgba(255, 255, 255, 0.25); */
}

.slider::before {
  content: "";
  position: absolute;
  height: 18px;
  width: 18px;
  left: 3px;
  top: 50%;
  /* transform: translateY(-50%); */
  background: white;
  border-radius: 50%;
  transition: transform 0.3s;
}

.switch input:checked + .slider {
  background-color: #00c853;
  box-shadow: 0 0 8px rgba(0, 200, 83, 0.7);
}

.switch input:checked + .slider::before {
  transform: translateX(22px);
}

.slider:hover {
  filter: brightness(1.15);
}

/*  Vertical Legend must float on RIGHT side of screen */
#legendVertical {
  position: absolute;
  top: 34px;
  right: 12px;

  width: 55px;
  height: 270px;

  display: flex;
  flex-direction: column;
  align-items: center;

  z-index: 9999999;
  pointer-events: none; /*  doesn't block Cesium controls */
}

/* Max/Min label */
#legendVertical span {
  color: white;
  font-size: 13px;
  font-weight: bold;
  margin: 6px 0;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.9);
}

/*  Color Bar */
#legendVertical .bar {
  width: 18px;
  flex: 1;

  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.9);

  /* background: linear-gradient(
    to top,
    rgb(0, 0, 255),
    rgb(0, 255, 255),
    rgb(0, 255, 0),
    rgb(255, 255, 0),
    rgb(255, 0, 0)
  ); */
}

#legendVertical.temp .bar {
  background: linear-gradient(
    to top,
    #0033ff,
    #00ffff,
    #00ff00,
    #ffff00,
    #ff0000
  );
}
#legendVertical.pressure .bar {
  background: linear-gradient(
    to top,
    #0033ff,
    #00ffff,
    #00ff00,
    #ffff00,
    #ff0000
  );
}
#legendVertical.cloud .bar {
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.0),
    rgba(255, 255, 255, 1.0)
  );
}

#heightBtns .btn.disabled,
#heightBtns .btn:disabled {
  opacity: 0.35;
  cursor: not-allowed;
  pointer-events: none;
}
